In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = "/home/hamed/Dataanalyze_train/economic-analyze/IRAN -WORLDBANK.xlsx"

In [8]:
df = pd.read_excel(data, sheet_name='Data')

In [10]:
df.head()

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Intentional homicides, female (per 100,000 fem...",VC.IHR.PSRC.FE.P5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.756053,0.569035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Battle-related deaths (number of people),VC.BTL.DETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22.000000,27.000000,60.000000,31.000000,212.000000,27.000000,NaN
2,Voice and Accountability: Percentile Rank,VA.PER.RNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.164319,5.911330,7.881773,12.315271,12.807881,12.621359,12.077294,8.212561,9.178744,8.695652
3,Transport services (% of commercial service ex...,TX.VAL.TRAN.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Computer, communications and other services (%...",TX.VAL.OTHR.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df1 = df.to_csv("iraneconomic.csv")

In [16]:
df =pd.read_csv("iraneconomic.csv")

In [17]:
df.head()

,Unnamed: 0,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,0,"Intentional homicides, female (per 100,000 fem...",VC.IHR.PSRC.FE.P5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.756053,0.569035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Battle-related deaths (number of people),VC.BTL.DETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22.000000,27.000000,60.000000,31.000000,212.000000,27.000000,NaN
2,2,Voice and Accountability: Percentile Rank,VA.PER.RNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.164319,5.911330,7.881773,12.315271,12.807881,12.621359,12.077294,8.212561,9.178744,8.695652
3,3,Transport services (% of commercial service ex...,TX.VAL.TRAN.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"Computer, communications and other services (%...",TX.VAL.OTHR.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.tail()

,Unnamed: 0,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1472,1472,"Short-term debt (% of exports of goods, servic...",DT.DOD.DSTC.XP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1473,1473,"External debt stocks, private nonguaranteed (P...",DT.DOD.DPNG.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.199674e+09,9.146860e+08,8.939100e+08,7.273580e+08,NaN
1474,1474,"External debt stocks, total (DOD, current US$)",DT.DOD.DECT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.013042e+09,5.817911e+09,6.455859e+09,6.058410e+09,6.819094e+09,5.773700e+09,4.855393e+09,5.433188e+09,1.034887e+10,NaN
1475,1475,Net ODA provided to the least developed countr...,DC.ODA.TLDC.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,1476,"Net bilateral aid flows from DAC donors, Swede...",DC.DAC.SWEL.CD,NaN,NaN,39999.999106,119999.997318,NaN,NaN,NaN,...,1.430000e+06,1.790000e+06,1.880000e+06,1.350000e+06,7.700000e+05,2.480000e+06,2.180000e+06,2.400000e+06,1.680000e+06,NaN

In [20]:
df.isna().sum

<bound method DataFrame.sum of       Unnamed: 0  Indicator Name  Indicator Code  1960  1961   1962   1963  \
0          False           False           False  True  True   True   True
1          False           False           False  True  True   True   True
2          False           False           False  True  True   True   True
3          False           False           False  True  True   True   True
4          False           False           False  True  True   True   True
...          ...             ...             ...   ...   ...    ...    ...
1472       False           False           False  True  True   True   True
1473       False           False           False  True  True   True   True
1474       False           False           False  True  True   True   True
1475       False           False           False  True  True   True   True
1476       False           False           False  True  True  False  False

      1964  1965  1966  ...   2013   2014   2015   2016   2017   2018   2019  \
0     True  True  True  ...  False  False   True   True   True   True   True
1     True  True  True  ...   True   True   True  False  False  False  False
2     True  True  True  ...  False  False  False  False  False  False  False
3     True  True  True  ...   True   True   True   True   True   True   True
4     True  True  True  ...   True   True   True   True   True   True   True
...    ...   ...   ...  ...    ...    ...    ...    ...    ...    ...    ...
1472  True  True  True  ...   True   True   True   True   True   True   True
1473  True  True  True  ...  False  False  False  False  False  False  False
1474  True  True  True  ...  False  False  False  False  False  False  False
1475  True  True  True  ...   True   True   True   True   True   True   True
1476  True  True  True  ...  False  False  False  False  False  False  False

       2020   2021   2022
0      True   True   True
1     False  False   True
2     False  False  False
3      True   True   True
4      True   True   True
...     ...    ...    ...
1472   True   True   True
1473  False  False   True
1474  False  False   True
1475   True   True   True
1476  False  False   True

[1477 rows x 66 columns]>

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1477 entries, 0 to 1476
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1477 non-null   int64
 1   Indicator Name  1477 non-null   object
 2   Indicator Code  1477 non-null   object
 3   1960            247 non-null    float64
 4   1961            286 non-null    float64
 5   1962            292 non-null    float64
 6   1963            308 non-null    float64
 7   1964            320 non-null    float64
 8   1965            328 non-null    float64
 9   1966            331 non-null    float64
 10  1967            327 non-null    float64
 11  1968            329 non-null    float64
 12  1969            316 non-null    float64
 13  1970            348 non-null    float64
 14  1971            431 non-null    float64
 15  1972            458 non-null    float64
 16  1973            462 non-null    float64
 17  1974            462 non-null    float64
 18  1975            475 non-null    float64
 19  1976            535 non-null    float64
 20  1977            525 non-null    float64
 21  1978            485 non-null    float64
 22  1979            471 non-null    float64
 23  1980            511 non-null    float64
 24  1981            522 non-null    float64
 25  1982            529 non-null    float64
 26  1983            532 non-null    float64
 27  1984            547 non-null    float64
 28  1985            555 non-null    float64
 29  1986            588 non-null    float64
 30  1987            571 non-null    float64
 31  1988            582 non-null    float64
 32  1989            579 non-null    float64
 33  1990            698 non-null    float64
 34  1991            656 non-null    float64
 35  1992            646 non-null    float64
 36  1993            720 non-null    float64
 37  1994            729 non-null    float64
 38  1995            733 non-null    float64
 39  1996            761 non-null    float64
 40  1997            748 non-null    float64
 41  1998            756 non-null    float64
 42  1999            748 non-null    float64
 43  2000            938 non-null    float64
 44  2001            781 non-null    float64
 45  2002            840 non-null    float64
 46  2003            861 non-null    float64
 47  2004            881 non-null    float64
 48  2005            948 non-null    float64
 49  2006            942 non-null    float64
 50  2007            921 non-null    float64
 51  2008            934 non-null    float64
 52  2009            928 non-null    float64
 53  2010            961 non-null    float64
 54  2011            922 non-null    float64
 55  2012            908 non-null    float64
 56  2013            945 non-null    float64
 57  2014            969 non-null    float64
 58  2015            914 non-null    float64
 59  2016            969 non-null    float64
 60  2017            918 non-null    float64
 61  2018            844 non-null    float64
 62  2019            814 non-null    float64
 63  2020            743 non-null    float64
 64  2021            569 non-null    float64
 65  2022            294 non-null    float64
dtypes: float64(63), int64(1), object(2)
memory usage: 761.7+ KB

In [22]:
df.columns

Index(['Unnamed: 0', 'Indicator Name', 'Indicator Code', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='object')

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices